.body {
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.main-wrapper {
    height: 100%;
}

.right-label {
    height: fit-content;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.search {
    width: 100%;
    margin-top: 1%;
}

.content-wrapper {
    margin: 2% !important;

}

.rcard {
    display: flex !important;
    justify-content: center !important;
}

.left-image {
    margin: 0 !important;
}

.lbl {
    margin: 1% !important;
}

.ingre {
    margin: 2% !important;
}